body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
menu {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img,
abbr {
  border: 0; }

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

ul li,
menu li {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

legend {
  color: #000; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

img {
  max-width: 100%;
  height: auto; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

body {
  font-family: 'Oswald', sans-serif;
  height: 100vh;
  position: relative; }

button {
  border: none;
  background: none; }

a {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.bott {
  height: 41px;
  width: 100%;
  background: #ffffff; }

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px;
  margin-top: 10px; }

.main-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.51);
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .1s ease-in;
  -o-transition: opacity .1s ease-in;
  transition: opacity .1s ease-in; }
  .main-overlay__active {
    opacity: 1;
    -webkit-transition: opacity .1s ease-in;
    -o-transition: opacity .1s ease-in;
    transition: opacity .1s ease-in;
    z-index: 99; }

.logo img {
  height: 40px; }

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100; }
  .header-wrapper {
    background: #26537A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 30px;
    height: 40px; }
  .header p {
    color: #ffffff;
    font-size: 16px; }
  .header a {
    position: relative;
    color: #ffffff;
    margin-left: 20px}

    .header a::before {
      position: absolute;
      content: '\2190';
      left: -35px;
      font-size: 25px;
      top: -10px; }

.mobile-toggle {
  width: 20px;
  position: relative;
  height: 3px;
  background: #fff; }
  .mobile-toggle::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 3px;
    background: #fff;
    top: -7px;
    right: 0;
    -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in; }
  .mobile-toggle::after {
    position: absolute;
    background: #fff;
    content: '';
    width: 20px;
    height: 3px;
    top: 7px;
    -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in; }

.mobile-toggle.mobile-toggle-active {
  background-color: transparent;
  z-index: 10; }
  .mobile-toggle.mobile-toggle-active::before {
    width: 20px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #fff;
    top: 0;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    -o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s; }
  .mobile-toggle.mobile-toggle-active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background: #fff;
    top: 0;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    -o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s; }

.menu-wrapper {
  position: absolute;
  background: #EAEAEA;
  left: 0;
  top: 40px;
  right: 0;
  z-index: 99;
  height: 70vh;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1px;
  border-bottom: 1px solid #EAEAEA; }
  .menu-wrapper-active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in; }

.menu-item {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px; }
  .menu-item img {
    width: 40px;
    margin-bottom: 10px; }
  .menu-item a {
    color: #26537A;
    font-size: 14px;
    text-transform: uppercase; }
    .menu-item a::before {
      content: none; }

.btn {
  background: #E3001A;
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 5px;
  font: 13px 'Oswald',sans-serif !important; }
  .btn.btn-blue {
    background: #26537A; }

.form-control {
  border: none;
  border-bottom: 1px solid #AFAFAF;
  background: none;
  padding: 10px;
  color: #cccccc;
  margin-bottom: 15px; }
  .form-control::-webkit-input-placeholder {
    text-transform: uppercase;
    font-size: 14px; }
  .form-control::-moz-placeholder {
    text-transform: uppercase;
    font-size: 14px; }
  .form-control:-ms-input-placeholder {
    text-transform: uppercase;
    font-size: 14px; }
  .form-control::-ms-input-placeholder {
    text-transform: uppercase;
    font-size: 14px; }
  .form-control::placeholder {
    text-transform: uppercase;
    font-size: 14px; }
  .form-control:focus {
    outline-width: 0; }

.login-register {
  position: relative;
  background: #26537A;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  padding: 0 10px; }
  .login-register img {
    position: absolute;
    top: 10%; }

.login-form {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  bottom: 10%;
  -webkit-transform: translate(-2500px, 0);
      -ms-transform: translate(-2500px, 0);
          transform: translate(-2500px, 0);
  -webkit-transition: -webkit-transform .2s ease-in;
  transition: -webkit-transform .2s ease-in;
  -o-transition: transform .2s ease-in;
  transition: transform .2s ease-in;
  transition: transform .2s ease-in, -webkit-transform .2s ease-in; }
  .login-form.login-form-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .login-form-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .login-form button {
    margin-bottom: 15px;
    padding: 15px 0; }
  .login-form a {
    text-align: center;
    padding: 15px 0; }
  .login-form-active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: -webkit-transform 1s ease-in;
    transition: -webkit-transform 1s ease-in;
    -o-transition: transform 1s ease-in;
    transition: transform 1s ease-in;
    transition: transform 1s ease-in, -webkit-transform 1s ease-in; }

.reg-form {
  position: absolute;
  -webkit-transform: translate(-2500px, 0);
      -ms-transform: translate(-2500px, 0);
          transform: translate(-2500px, 0);
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  -o-transition: transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in; }
  .reg-form-active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: -webkit-transform .3s ease-in;
    transition: -webkit-transform .3s ease-in;
    -o-transition: transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .3s ease-in; }

.promo-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #26537A;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  z-index: 99;
  border-top: 1px solid #ffffff; }
  .promo-tabs a {
    color: #ffffff;
    font-size: 11px;
    font-weight: 500;
    width: 100%;
    text-transform: uppercase; }
  .promo-tabs__tab {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: center;
    padding-bottom: 5px; }
    .promo-tabs__tab.tab-active {
      background: #E3001A; }

.footr {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #c4c4c4; }
  .footr-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footr a {
    position: relative;
    font: 11px 'Oswald',sans-serif;
    color: #26537A;
    width: 33.33%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    display: block;
    line-height: 40px; }
    .footr a:after {
      position: absolute;
      content: '';
      height: 100%;
      width: 1px;
      right: 0;
      background: #c4c4c4; }
    .footr a:last-child:after {
      content: none; }

.tns-nav {
  margin-top: 5px;
  text-align: center; }
  .tns-nav button {
    background: #404040;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
    outline-width: 0; }

.tns-nav-active {
  -webkit-box-shadow: inset 0 0 0px 3px #d27d7d;
          box-shadow: inset 0 0 0px 3px #d27d7d; }

.actions {
  margin-bottom: 10px; }
  .actions h3 {
    color: #26537A;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 700; }

.slider-item {
  height: 200px; }
  .slider-item p {
    color: black;
    font-size: 20px; }
  .slider-item span {
    margin-bottom: 10px; }
  .slider-item-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%; }

.user-info-item {
  border: 2px solid #26537A;
  margin-bottom: 10px;
  padding: 3px; }
  .user-info-item__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #26537A;
    padding: 5px; }
    .user-info-item__title p {
      color: #ffffff;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500; }
  .user-info-item__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px; }
    .user-info-item__description p {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }

.user-photo {
  background: #26537A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px; }
  .user-photo.big {
    height: 140px; }
  .user-photo__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .user-photo__image img {
      -o-object-fit: none;
         object-fit: none;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      border: 2px solid #ffffff; }
    .user-photo__image p {
      margin-top: 10px;
      font-size: 12px;
      color: #ffffff;
      text-transform: uppercase; }

.user-info-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .user-info-form-group__image {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
    text-align: center; }
  .user-info-form-group input {
    -ms-flex-preferred-size: 85%;
        flex-basis: 85%; }

.user-info-form button {
  width: 100%;
  margin-bottom: 10px; }

.user-info-form a {
  text-align: center; }

.lk-wrapper {
  padding: 0 50px; }

.doctor-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(230px, 1fr);
  grid-gap: 10px; }

.doctor-info-item {
  width: 100%;
  border: 2px solid #26537A;
  padding: 3px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .doctor-info-item__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #26537A;
    padding: 10px;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .doctor-info-item__title p {
      color: #ffffff;
      font-size: 13px;
      text-align: center;
      margin-bottom: 10px; }
    .doctor-info-item__title span {
      color: #c4c4c4;
      display: block;
      font-size: 10px;
      text-align: center; }
    .doctor-info-item__title a {
      width: 100%;
      text-align: center; }
  .doctor-info-item__photo img {
    width: 100px;
    height: 100px;
    border: 2px solid #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -o-object-fit: none;
       object-fit: none;
    border-radius: 50%; }

.services {
  background: #EAEAEA;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1px; }
  .services-item {
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px; }
    .services-item img {
      width: 50px;
      margin-bottom: 10px; }
    .services-item a {
      color: #26537A;
      font-size: 12px;
      font-weight: bold; }

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.active, .accordion:hover {
  background-color: #ccc; }

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px; }

.active:after {
  content: "\2212"; }

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out; }

.service-buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); }
  .service-buttons__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: red;
    border-radius: 15px;
    padding: 10px 30px;
    color: #ffffff; }
    .service-buttons__button p:first-child {
      text-transform: uppercase; }
    .service-buttons__button p:nth-child(2) {
      margin-bottom: 10px; }
    .service-buttons__button a {
      background: #ffffff;
      color: #E3001A;
      padding: 5px 10px;
      border-radius: 5px;
      text-transform: uppercase; }

button {
  font-family: 'Oswald',sans-serif; }

.footer {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .footer-btn {
    position: relative;
    font-family: 'Oswald',sans-serif;
    background: #E3001B;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 3vmin;
    padding: 3vmin 3vmin;
    border-radius: 4px;
    text-align: end;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .footer-btn p {
      display: inline-block;
      width: 60%;
      margin-right: 10px; }

.btn-order:before {
  position: absolute;
  content: url(https://img.icons8.com/metro/26/000000/edit-row.png);
  left: 21px;
  bottom: 18px;
  height: 20px;
  width: 20px; }

.btn-call:before {
  position: absolute;
  content: url(https://img.icons8.com/metro/26/000000/edit-row.png);
  left: 21px;
  bottom: 18px;
  height: 20px;
  width: 20px; }

.contact-info {
  color: #ffffff;
  border: 2px solid #26537A;
  padding: 3px;
  font-size: 14px; }
  .contact-info-top {
    padding: 10px 20px;
    background: #26537A;
    margin-bottom: 3px; }
    .contact-info-top p {
      position: relative;
      margin-bottom: 10px;
      margin-left: 30px; }
      .contact-info-top p:last-child {
        margin: 0;
        margin-left: 30px; }
      .contact-info-top p:before {
        position: absolute;
        content: '';
        background: #c4c4c4;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        top: 0;
        bottom: 0;
        left: -30px;
        margin: auto; }
  .contact-info-bottom {
    padding: 10px 20px;
    background: #26537A; }
    .contact-info-bottom p {
      text-align: center; }

.apply {
  margin-top: 10px;
  color: #ffffff;
  border: 2px solid #26537A;
  padding: 3px;
  margin-bottom: 30px; }
  .apply-header {
    padding: 10px 20px;
    background: #26537A;
    margin-bottom: 10px;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-transform: uppercase; }
  .apply-form-wrapper {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; }
  .apply-form select {
    height: 30px;
    font-size: 10px;
    width: 100%; }
.apply-btn{
  border-radius: 0;
    width: 100%;
    text-align: center;
    display: block;
    background: #E3001A;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 0;
    margin: 10px 0;
}