{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>kl</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="{% static  'css/style.css'%}">

</head>
<body>

<header class="header ">
    <div class="header-wrapper">
        <p>Главная</p>
        <div class="mobile-toggle-wrapper">
            <div class="mobile-toggle"></div>
        </div>

    </div>
    <div class="menu-wrapper">

        <div class="menu-item">
            <img src="img/1.jpg">
            <a href="lk.html">Личный кабинет</a>
        </div>
        <div class="menu-item">
            <img src="img/1.jpg">
            <a href="doctors.html">Врачи</a>
        </div>
        <div class="menu-item">
            <img src="img/1.jpg">
            <a href="services.html">Услуги</a>
        </div>
        <div class="menu-item">
            <img src="img/1.jpg">
            <a href="#">Личный кабинет</a>
        </div>

        <div class="menu-item">
            <img src="img/1.jpg">
            <a href="#">Личный кабинет</a>
        </div>
          <div class="menu-item">
            <img src="img/1.jpg">
            <a href="#">Личный кабинет</a>
        </div>
        <div class="menu-item">
            <img src="img/1.jpg">
            <a href="#">Личный кабинет</a>
        </div>
        <div class="menu-item">
            <img src="img/1.jpg">
            <a href="#">Личный кабинет</a>
        </div>



    </div>

</header>
<div class="main-overlay"></div>


<div class="container">
     <div class="apply">
     <div class="apply-header">
         <p>название услуги</p>
        <p>цена</p>
     </div>
     <div class="apply-form">
    <form id="apply_form" action="#" method="get">
        <div class="apply-form-wrapper">
            <select required name="mon">
                <option selected disabled>Выберите месяц</option>
                <option>fdgfdgf</option>
            </select>
             <select required  name="day">
                <option selected disabled>Выберите день</option>
                  <option>fdgfdgf</option>
            </select>
             <select  required name="time">
                <option selected disabled>Выберите время</option>
                  <option>fdgfdgf</option>
            </select>
        </div>
        <select  name="doc">
                <option selected disabled>ЗАПИСАТЬСЯ К КОНКРЕТНОМУ ВРАЧУ</option>
            {% for doc in docs %}
                  <option value="{{ doc.id }}">{{ doc.name }}</option>
            {% endfor %}
            </select>
        <input type="hidden" name="user">
    </form>
     </div>
 </div>

    <button style="margin: 0 auto; padding: 10px 30px" class="btn" type="submit" form="apply_form">ОТПРАВИТЬ ЗАЯВКУ</button>
</div>









<div class="footr">
   <div class="footr-inner">
       <a href="#"><img src="http://185.231.69.248:3000/static/img/phone.png" alt=""> </a>
       <a href="#"><img src="http://185.231.69.248:3000/static/img/white.png" alt=""> </a>
   </div>
</div>




</body>

</html>