{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>kl</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static  'css/style.css'%}">

</head>
<body>

<header class="header ">
    <div class="header-wrapper">
         <a href="/">Контакты</a>
        <div class="mobile-toggle-wrapper">
            <div class="mobile-toggle"></div>
        </div>

    </div>
   {% include 'menu.html' %}

</header>
<div class="main-overlay"></div>


<div style="margin: 0" class="container">
    <div style="margin-bottom: 10px">
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A18e43f52d7917fab97632a860708ea3e78729598faf5133307c0918ec7ce3272&amp;width=100%25&amp;height=240&amp;lang=ru_RU&amp;scroll=true"></script>


    </div>




 <div class="contact-info">

     <div class="contact-info-top">
      <p>{{ contactInfo.address }}</p>
         <p>{{ contactInfo.phone1 }}</p>
         <p>{{ contactInfo.phone1 }}</p>
         <p>{{ contactInfo.email }}</p>
      </div>
        <div class="contact-info-bottom">
<p>{{ contactInfo.time }}</p>
     </div>

 </div>


<div class="bott"></div>
</div>
{% include 'footer.html' %}


<script>
       document.getElementsByClassName('mobile-toggle')[0].addEventListener('click',function () {
        this.classList.toggle('mobile-toggle-active')
        document.getElementsByClassName('menu-wrapper')[0].classList.toggle('menu-wrapper-active')
         document.getElementsByClassName('main-overlay')[0].classList.toggle('main-overlay__active')
    })
</script>
</body>

</html>