{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>kl</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static  'css/style.css'%}">

</head>
<body>

<header class="header ">
    <div class="header-wrapper">

        <a href="{{ request.META.HTTP_REFERER }}">Информация о враче</a>
        <div class="mobile-toggle-wrapper">
            <div class="mobile-toggle"></div>
        </div>

    </div>
  {% include 'menu.html' %}

</header>
 <div class="user-photo big">
    <div class="user-photo__image">
        <img style="object-fit: none" src="{{ doc.image.url }}">
        <p style="text-transform: none; font-size: 13px">{{ doc.name }}</p>
    </div>

 </div>

<div class="container">

<div class="service-accordion">
    <button class="accordion">Информация</button>
    <div class="panel">
        <p>{{ doc.info }}</p>
    </div>

    <button class="accordion">Оказываемые услуги</button>
    <div class="panel">
       <ul>
           {% for ser in doc.services.all %}
           <li>{{ ser.name }} | Цена: {{ ser.price }} - <a href="{% url 'service' ser.category.get.id %}">Подробнее</a></li>
           {% endfor %}
       </ul>
    </div>



</div> <!-- //service-accordion-->





</div><!--// container-->
{% include 'footer.html' %}




</body>
<script>
    document.getElementsByClassName('mobile-toggle')[0].addEventListener('click',function () {
        this.classList.toggle('mobile-toggle-active')
        document.getElementsByClassName('menu-wrapper')[0].classList.toggle('menu-wrapper-active')
         document.getElementsByClassName('main-overlay')[0].classList.toggle('main-overlay__active')
    })

    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }

</script>
<script>





</script>
</html>