{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>kl</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{% static  'css/style.css'%}">

</head>
<body>

<header class="header ">
    <div class="header-wrapper">

        <a href="/">Врачи</a>
        <div class="mobile-toggle-wrapper">
            <div class="mobile-toggle"></div>
        </div>

    </div>
  {% include 'menu.html' %}

</header>


<div class="container doctor">
  <div class="doctor-items">
        {% for d in docs %}
       <div class="doctor-info">
        <div class="doctor-info-item">
            <div class="doctor-info-item__title">
            <div class="doctor-info-item__photo">
                <img src="{{ d.image.url }}">
                <p>{{ d.name }}<br>{{ d.cabinet }}</p>
            </div>

            <a href="{% url 'doctor_info' d.id %}" class="btn">подробнее</a>
            </div>

        </div>
    </div><!--// doctor-info  onclick="apply({#  #}{ d.id }})" -->

    {% endfor %}
  </div>


</div><!--// container-->

{% include 'footer.html' %}


</body>

<script>

    function apply(id) {
        window.location.replace(`/apply?doc=${id}`);
    }



    document.getElementsByClassName('mobile-toggle')[0].addEventListener('click',function () {
        this.classList.toggle('mobile-toggle-active')
        document.getElementsByClassName('menu-wrapper')[0].classList.toggle('menu-wrapper-active')
    })

</script>
</html>