{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>kl</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{% static  'css/style.css'%}">

</head>
<body>

<header class="header ">
    <div class="header-wrapper">

        <a href="/">Частые вопросы</a>
        <div class="mobile-toggle-wrapper">
            <div class="mobile-toggle"></div>
        </div>

    </div>
  {% include 'menu.html' %}

</header>


<div class="container ">
  <div class="service-accordion">
    <button class="accordion">Вопрос1</button>
    <div class="panel">
        <p>Ответ</p>
    </div>

    <button class="accordion">Вопрос2</button>
    <div class="panel">
       <p>Ответ</p>
    </div>

    <button class="accordion">Вопрос3</button>
    <div class="panel">
        <p>Ответ</p>
    </div>
</div> <!-- //service-accordion-->
  </div>


</div><!--// container-->

{% include 'footer.html' %}


</body>

<script>

    function apply(id) {
        window.location.replace(`/apply?doc=${id}`);
    }



    document.getElementsByClassName('mobile-toggle')[0].addEventListener('click',function () {
        this.classList.toggle('mobile-toggle-active')
        document.getElementsByClassName('menu-wrapper')[0].classList.toggle('menu-wrapper-active')
    })

        document.getElementsByClassName('mobile-toggle')[0].addEventListener('click',function () {
        this.classList.toggle('mobile-toggle-active')
        document.getElementsByClassName('menu-wrapper')[0].classList.toggle('menu-wrapper-active')
    })

    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
   document.getElementsByClassName('mobile-toggle')[0].addEventListener('click',function () {
        this.classList.toggle('mobile-toggle-active')
        document.getElementsByClassName('menu-wrapper')[0].classList.toggle('menu-wrapper-active')
         document.getElementsByClassName('main-overlay')[0].classList.toggle('main-overlay__active')
    })

</script>
</html>