 <div class="menu-wrapper">

        <div class="menu-item">
           <img src="http://placehold.it/50">
           <a href="{% url 'lk' %}">Личный кабинет</a>
        </div>
        <div class="menu-item">
            <img src="http://placehold.it/50">
            <a href="{% url 'doc' %}">Врачи</a>
        </div>
        <div class="menu-item">
           <img src="http://placehold.it/50">
            <a href="{% url 'services' %}">Услуги</a>
        </div>
        <div class="menu-item">
            <img src="http://placehold.it/50">
            <a href="{% url 'lk' %}">Личный кабинет</a>
        </div>

        <div class="menu-item">
           <img src="http://placehold.it/50">
            <a href="{% url 'contact' %}">Контакты</a>
        </div>
          <div class="menu-item">
             <img src="http://placehold.it/50">
            <a href="#">Личный кабинет</a>
        </div>
        <div class="menu-item">
            <img src="http://placehold.it/50">
            <a href="#">Личный кабинет</a>
        </div>
        <div class="menu-item">
            <img src="http://placehold.it/50">
            <a href="#">Личный кабинет</a>
        </div>



    </div>