{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>kl</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{% static  'css/style.css'%}">

</head>
<body>

<header class="header ">
    <div class="header-wrapper">

        <a href="/">Услуги</a>
        <div class="mobile-toggle-wrapper">
            <div class="mobile-toggle"></div>
        </div>

    </div>
  {% include 'menu.html' %}

</header>
<div class="main-overlay"></div>
<div class="promo-tabs">
    <div class="promo-tabs__tab tab-active">
        <a>Взрослое отделение</a>
    </div>
    <div class="promo-tabs__tab ">
        <a href="{% url 'services_child' %}">Детское отделение</a>
    </div>
</div>

    <div class="services">
        {% for s in serv %}
        <div class="services-item">
             <img src="{{ s.ico.url }}">
            <a href="{% url 'service' s.id %}">{{ s.name }}</a>
        </div>
        {% endfor %}

    </div>



{% include 'footer.html' %}




</body>

<script>





    document.getElementsByClassName('mobile-toggle')[0].addEventListener('click',function () {
        this.classList.toggle('mobile-toggle-active')
        document.getElementsByClassName('menu-wrapper')[0].classList.toggle('menu-wrapper-active')
         document.getElementsByClassName('main-overlay')[0].classList.toggle('main-overlay__active')
    })

</script>
</html>