{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>kl</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{% static  'css/style.css'%}">

</head>
<body>

<header class="header ">
    <div class="header-wrapper">

        <a href="{% url 'services' %}">{{ serv.name }}</a>
        <div class="mobile-toggle-wrapper">
            <div class="mobile-toggle"></div>
        </div>

    </div>
   {% include 'menu.html' %}

</header>


<div class="service-image">
    <img src="{{ serv.image.url }}">
</div>
<div class="container">
    <div class="service-accordion">
     {% for ser in serv.service_set.all %}
    <button class="accordion">{{ ser.name }} от {{ ser.price }} руб</button>
    <div class="panel">
        <p>{{ ser.description }}</p>
    <a class="apply-btn" href="{% url 'apply' ser.id %}">записаться</a>
    </div>
     {% endfor %}

    </div>
 <div class="bott"></div>
</div> <!-- //service-accordion-->







{% include 'footer.html' %}


</body>

<script>
    document.getElementsByClassName('mobile-toggle')[0].addEventListener('click',function () {
        this.classList.toggle('mobile-toggle-active')
        document.getElementsByClassName('menu-wrapper')[0].classList.toggle('menu-wrapper-active')
    })

    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }

</script>
</html>